{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
<h2 style="font-size:25px">Loans</h2>
<hr>
<br>
<p><b>You can buy your dream home,car vacation with Axis Bank Loans<br>
Choose from range of Axis Bank Loans offering</b></p>
<br>
<br>
<a href="#" style="color:#CD143C" >▶ <b>Apply for Home Loan</b></a><br>
<a href="#" style="color:#CD143C">▶ <b>Apply for Car Loan</b></a><br>
<a href="#" style="color:#CD143C">▶ <b>Apply for Personal Loan</b></a>
</div>
{% endblock content %}